* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .main-container {
        background-image: linear-gradient(180deg, #f3f4fa, #e9edff);
        min-height: 100dvh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 0 60px 0;
        position: relative;

        .box-element {
            height: 300px;
            width: 300px;
            background-image: linear-gradient(to bottom right, #0f9d58, #3dcd88);
            position: absolute;
            top: -150px;
            left: -150px;
            transform: rotateZ(45deg);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

            .box-element__text {
                font-weight: bold;
                font-size: 35px;
                color: snow;
                text-shadow: 0 0 1px black;
                transform: rotateZ(-90deg);
                left: 180px;
                position: absolute;
                letter-spacing: 2px;
                top: calc(50% - 25px);
            }
        }

        .section-header {
            width: 100%;
            height: 60px;
            background-color: snow;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 5px 10px 5px 210px;

            .time-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color: gray;

                #clock-container {
                    display: flex;
                }

                .date-time-separator {
                    width: 1px;
                    background-color: gray;
                    height: 20px;
                    margin: 0 5px 0 7px;
                }

                .date {
                    display: flex;
                }
            }
        }

        .section-body {
            width: 90%;
            display: none;

            .full-epc-sales {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: ghostwhite;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                margin-bottom: 30px;

                .full-epc-sales__title {
                    width: 100%;
                    text-align: right;
                    font-weight: 700;
                    font-size: clamp(0.9rem, 2.5vw, 18px);
                    color: #3ba569;
                }

                .full-epc-sales__chart {
                    width: 100%;
                / / height: 400 px;
                    max-height: 400px;

                    canvas {
                        max-height: 400px;
                    }
                }

                .full-epc-sales__controls {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    margin-top: 10px;

                    .btn {
                        max-height: 28px;
                        line-height: 29px;
                    }

                    .select-controls {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        .select-wrapper .dropdown-content {
                            max-height: 500px;
                            overflow-y: auto;
                        }

                        .btn {
                            max-height: 28px;
                            line-height: 29px;
                        }
                    }
                }
            }

            .item-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: ghostwhite;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

                .item-info__title {
                    width: 100%;
                    text-align: right;
                    font-weight: 700;
                    font-size: clamp(0.9rem, 2.5vw, 18px);
                    color: #3ba569;
                }

                .item-info__selection {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-top: 10px;

                    .btn {
                        max-height: 28px;
                        line-height: 29px;
                    }
                }

                .item-info__visual {
                    width: 100%;

                    .item {
                        width: 1000px;
                        margin: 0 auto;
                        padding: 10px;

                        .info-data {
                        / / background-color: #73f4ac;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5px;
                            font-size: clamp(0.9rem, 2.5vw, 15px);
                            font-weight: 700;
                            color: gray;
                            border-bottom: 1px dashed gray;

                            .info {
                                min-width: 170px;
                            }

                            .data {
                                text-align: right;
                            }
                        }

                        table{
                            margin: 30px auto 0;
                            collapse: collapse;
                            border: 1px solid gray;
                            font-size: clamp(0.9rem, 2.5vw, 15px);
                            font-weight: 700;
                            color: gray;

                            caption{
                                margin-bottom: 15px;
                                font-size: clamp(0.9rem, 2.5vw, 15px);
                                font-weight: 700;
                                color: gray;
                            }

                            th, td {
                                border: 1px solid gray;
                                text-align: center;
                                padding: 5px;
                                font-size: clamp(0.9rem, 2.5vw, 15px);
                            }

                            td:nth-child(1),td:nth-child(2) {
                                background-color: rgba(0, 0, 255, 0.1);
                            }

                            td:nth-child(3),td:nth-child(4) {
                                background-color: rgba(255, 20, 147, 0.1);
                            }

                            td:nth-child(5),td:nth-child(6) {
                                background-color: rgba(255, 165, 0, 0.1);
                            }

                            td{
                                color: rgba(0, 0, 0, 0.7);
                            }

                        }

                        .info-data-2023 {
                            background-color: rgba(0, 0, 255, 0.05);
                        }

                        .info-data-2024 {
                            background-color: rgba(255, 69, 0, 0.05);
                        }

                        .info-data-2025 {
                            background-color: rgba(255, 255, 0, 0.05);
                        }
                    }
                }

                .item-info__chart {
                    width: 100%;
                / / height: 400 px;
                    max-height: 400px;
                    display: none;

                    canvas {
                        max-height: 400px;
                    }
                }
            }
        }

        .preloader {
            margin: 5px;
            //display: none;

            .preloader__text {
                font-weight: bold;
                color: gray;
                font-size: clamp(0.9rem, 2.5vw, 17px);
                text-align: center;
            }

            .progress {
                width: 500px;
                margin: 0 auto;
            }

            .preloader__data {
                width: 100%;
                padding: 10px;
                margin: 15px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                h3 {
                    text-align: center;
                    font-weight: bold;
                    color: gray;
                    font-size: clamp(0.9rem, 2.5vw, 17px);
                    margin-bottom: 0;
                }

                .load_2023, .load_2024, .load_2025 {
                    width: 800px;
                    padding: 10px;
                    margin: 0 auto 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;
                }

                .load {
                    background-color: #f1f1f1;
                    padding: 3px;
                    width: 150px;
                    text-align: center;
                    color: gray;
                    font-size: clamp(0.9rem, 2.5vw, 15px);
                    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
                }
            }
        }

        .section-footer {
            width: 100%;
            height: 50px;
            background-color: snow;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            padding: 5px 10px 5px 10px;
            font-size: 15px;
            font-weight: bold;
            font-style: italic;
            color: rgba(128, 128, 128, 0.5);
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        }
    }
}